body {
    margin: 0;
}

.wrapper {
    display: flex;
    position: relative;
}

canvas {
    user-select: none;
}

.rect {
    display: table-cell;
    position: absolute;
    text-align: center;
    user-select: none;
}

.content {
    margin: 0.5rem;
    width: 800px;
}
