body {
    margin: 0;
}

.wrapper {
    display: flex;
    position: relative;
}

canvas {
    user-select: none;
}

.rect {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.ui {
    margin: 0.5rem;
    width: 800px;
}

label {
    margin-right: 0.5rem;
}
