/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    color: #dadada;
    font-size: 18px;
}

#wrapper {
    height: 500px;
}

noise-viewer {
    display: flex;
}

noise-viewer input.form-control, noise-viewer select.form-control {
    width: 200px;
}

canvas {
    width: 200px;
    height: 200px;
}
