/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

#wrapper {
    position: relative;
}

#start {
    font-size: 3rem;
    color: #1C9C3C;
    cursor: pointer;
}

canvas {
    width: 100%;
    height: auto;
}

.loading, #start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
